<div class="container">
<h1>My name is Lali. I am 34 year old female trying to become a Ruby/Ruby on Rails software developer.
I have Masters degree in Business and Marketing but unfortunately this field doesn't interest me in a while.
I have been bartending for many years and finally I figured out who I want to be when grow up :-)
This is my first application on my own. It's not fancy at all but this is a beginning...
Thank you!</h1>
</div>
