<div class="container text-center">
<h1>My name is Lali. I am a 34 year old female trying to become a Ruby/Ruby on Rails software developer.
I have my Masters degree in Business and Marketing but unfortunately this field hasn't interested me in a while.
I have been bartending for many years and finally I figured out who I want to be when grow up :-)
This is my first application on my own. It's not fancy at all but this is a beginning...
Thank you!</h1>
</div>
